body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

#barratop{
    width: 100%;
    background-color: white;
    display: inline-block;    
}

h1{
    display: inline-block;
    font-weight: 800
    ;
}

#comando{
    width: 80%;
    height:40px;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
}

#mainbox{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    margin-top: 10px;
    text-align: left;
}

h2 h3{
    margin: 0px;
}

button{
    border-radius: 10%;
    border-width: 1px;
}
#addtask{
    color: white;
    background-color: rgb(2, 157, 181);
}

#addsection{
    color: grey;
    background-color: white    
}

.editorial{
    display: inline-block;

}

#editorial_button{
    display: inline-block;
    /* height: 30px;
    width: 100px; */
    background-color: rgb(110, 175, 236);
    border-radius: 20%;
    color: white;
}